body{
    margin: 0%;
    padding: 0;
}
.nav
{
    margin:0;
    padding:0;
    width: 100%;
    height: 6rem;
    background-color:#e9d3d39d;       
    display: flex;
    justify-content: space-between;


}
ul
{    
    padding: 0%;
    margin: 0%;
    list-style: none;
     
}
ul li.menu
{
    margin-top: 1.2rem;
    float: left;
    margin-left: 1rem;
    height: 3rem;
    width: 8rem;
    opacity: 0.9;
    line-height: 3rem;
    font-size: 1.3rem;
    text-align: center;   

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    text-align: center rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
    
}
ul li.menu a{
    color:rgb(19, 18, 19);
    display: block;
    text-decoration: none;
 
  
}

ul li.menu a:hover
{
  background-color: rgb(245, 124, 102);
  transition-duration:.52s;
 


  
}
ul li.menu ul
{
   
}
ul li.menu ul li.submenu
{
    display: none;
 
    
}
ul li.menu:hover ul li.submenu
    {
      display: block;
     
      background-color:#f5e2e2;
     
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      
  
    }

    ul li.menus
{
    margin-top: 1.2rem;
    float: right;
    margin-right: 1rem;
    height: 3rem;
    width: 8rem;

    opacity: 0.9;
    line-height: 3rem;
    font-size: 1.3rem;
    text-align: center;   

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    text-align: center;

    
}
  
ul li.menus a{
    color:rgb(19, 18, 19);
    display: block;
    text-decoration: none;
    
}

ul li.menus a:hover
{
  background-color: rgb(245, 123, 102);
  transition-duration:.52s;
  
  
 
  
}
ul li.menus ul li.submenus
{
    display: none;
    
 
}
ul li.menus:hover ul li.submenus
    {
      display: block;
     
      background-color:#f5e2e2;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;       
    }

.image
{
    background-image: url("/MOZOHACK/heart.jpeg");
    background-position: center;
    height: 30rem;
    background-size: cover;
   background-repeat: no-repeat ;
   margin-top: 2rem;
}
/* @media screen and (max-width: 480px) {  // for responsive ness write it later
    ul li.menu { 

        display: flex;
        justify-content: space-between;
    }
    .image
    {
        display: flex;
    }
} */

.dropdown{
    padding-left: 0;
}